/*Agregamos la fuente a utilizar*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/*
Blanco #d2cccf
rojo red
negro #0c0d0e
*/

body{
    background: #0c0d0e;
    color: #d2cccf;
}

html{
    scroll-behavior: smooth;
}

#inicio{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(63, 63, 63, 0.7)), url("./img/fondo.png" );
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .content header{
    background-color: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .content header .content-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .content header .content-header h1 a{
    text-decoration: none;
    text-align: center;
    color: #d2cccf;
}

#inicio .content header .content-header h1 a:hover{
    cursor: wait;
    color: red;
    transition: .9s;
}

#inicio .content header .content-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .content header .content-header nav ul li a{
    text-decoration: none;
    color: #d2cccf;
    margin: 0 12px;
    font-weight: 400;
    transition: 1.5s;
    position: relative;
}
#inicio .content header .content-header nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    background: red;
    transition: width .3s;
}
#inicio .content header .content-header nav ul li a:hover::after{
    width: 50%;
}


#inicio .content header .content-header nav ul a:hover{
    color: red;
}


#inicio .content header .content-header .selected{
    color: #d2cccf;
}


.presentacion{
    color: #d2cccf;
    position: absolute;
    bottom: 8%;
    max-width: 1100px;
    margin-left: 125px;
    columns: #d2cccf;
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 25px;
}

/*
.presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #d2cccf;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 25px;
    color: #d2cccf;
}*/

.bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}


#inicio .content .presentacion h2{
    font-size: 55px;
    margin-bottom: 25px;
}
/*
.bienvenida{
    color: transparent;
    background-image:linear-gradient(#d2cccf, #d2cccf) ;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: backcolor 6s linear infinite alternate;
}
@keyframes backcolor{
    100%{
        background-position: 0 0;
    }
}
*/


#inicio .content .presentacion h2 .minombre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: transparent;
    -webkit-text-stroke: 1px #d2cccf;
    background: url(./img/back.png);
    background-clip: text;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: fabrizio 15s linear infinite;
}

@keyframes fabrizio{
    100%{
        background-position: 2000px 0;
        background-color: red;
    }
}


#inicio .content .presentacion .dinamic-text{
    transform: translate(102%, -85%);
   overflow: hidden;
   height: 90px;
   line-height: 90px;
}

.typed-cursor {
    color: red;
}

#inicio .content .presentacion .descripcion{
    max-width: 700px;
    font-size: 18px;
    margin-bottom: 20px;
}
/*Boton contacto*/
#contacto-btn{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 20px 25px;
    border: 2px solid #d2cccf;
    border-radius: 20px;
    color: #d2cccf;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#contacto-btn:hover{
    background-color: red;
}

/*
.social-icons a{
    display: inline-block;
    transform: translate(20%);
    padding: 20px 25px;
    border-radius: 10px;
    color: #d2cccf;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.social-icons a:hover{
    background-color: red;
    border: 1px solid #d2cccf;
    border-radius: 10px;
}
*/

.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}

.social-icons a{
    display: inline-block;
    padding: 0px 5px;
    border-radius: 10px;
    color: #d2cccf;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    width: 25px;
    display: block;
    margin: 25px 5px;
    
}

.social-icons a:hover i{
    color: red;
    animation: roll 3s infinite;
    transform: rotate(30deg);
}
@keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

#icono-nav{
    color: #d2cccf;
    display: none;
}

.redes i{
    width: 30px;
    height: 30px;
    padding: 5px 0px;
    margin: 10px 5px;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    transition: all 0.5s ease;
}
.redes a:hover i{
    transform: scale(0.8);
    color: red;
}

/* Seccion Footer*/
footer{
    background-color:rgba(0,0,0,.8);
    color: #d2cccf;
    text-align: center;
    padding: 30px 0;
}

footer a{
    text-decoration: none;
    color: #d2cccf;
    display: inline-block;
    margin: 15px;
    font-size: 20px;
}

footer a:hover{
    color: red;
}
footer p{
    font-size: 15px;
}
#creador{
    font-size: 13px;
}
#servicios{
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}